<h2>
    Login
</h2>


<form ng-submit="chooseUser()">
    <div class="form-group">
        <label for="choose-user">
            Select a User
        </label>
        <select id="choose-user" ng-model="data.selectedUser"
                ng-options="user as user.name for user in data.users track by user.id" class="form-control">

        </select>
    </div>
    <div class="password-shell" ng-if="data.selectedUser">
        <div class="form-group">
            <label for="password">
                Password
            </label>
            <input id="password" ng-model="data.password" type="password" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">
            Choose User
        </button>
    </div>
</form>